// global functions

define-font(family, weight, style, filePath)
  @font-face
    font-family: family
    src: url("/static/font/"+filePath+".ttf") format('truetype')
    font-weight: weight
    font-style: style
