tablet-min-width = 768px
tablet-landscape-min-width = 1024px
desktop-min-width = 1200px
desktop-hd-min-width = 1400px

phone = 'only screen and (max-width: tablet-min-width)'
tablet = 'only screen and (min-width: tablet-min-width)'
tablet-landscape = 'only screen and (min-width: tablet-landscape-min-width)'
handheld = 'only screen and (max-width: desktop-min-width)'
desktop = 'only screen and (min-width: desktop-min-width)'
desktop-hd = 'only screen and (min-width: desktop-hd-min-width)'

media(breakpoint)
  @media breakpoint
    {block}
