#footer
  background #F3F1EF
  padding: 20px

.footer-section
  display: inline-block
  vertical-align top
  margin-right 2em

  .footer-title
    text-transform uppercase
    color #A9A9A9
    margin-bottom: 1em
    font-weight 400


.footer-links
  .footer-link
    a
      display: inline-block
      padding: .5em 0