@font-face {
    font-family: 'ClearSans';
    src: url('ClearSans-BoldItalic-webfont.eot');
    src: url('ClearSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('ClearSans-BoldItalic-webfont.woff') format('woff'),
         url('ClearSans-BoldItalic-webfont.ttf') format('truetype'),
         url('ClearSans-BoldItalic-webfont.svg#clear_sansbold_italic') format('svg');
    font-weight: 900;
    font-style: italic;

}

