@font-face {
    font-family: 'ClearSans';
    src: url('ClearSans-MediumItalic-webfont.eot');
    src: url('ClearSans-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('ClearSans-MediumItalic-webfont.woff') format('woff'),
         url('ClearSans-MediumItalic-webfont.ttf') format('truetype'),
         url('ClearSans-MediumItalic-webfont.svg#clear_sans_mediumitalic') format('svg');
    font-weight: 700;
    font-style: italic;

}

