@require "/style/global/function"

ClearSansBold()
  define-font("ClearSans", 900, normal, "ClearSans/ClearSans-Bold-webfont")
ClearSansBoldItalic()
  define-font("ClearSans", 900, italic, "ClearSans/ClearSans-BoldItalic-webfont")
ClearSansMedium()
  define-font("ClearSans", 700, normal, "ClearSans/ClearSans-Medium-webfont")
ClearSansMedium()
  define-font("ClearSans", 700, italic, "ClearSans/ClearSans-MediumItalic-webfont")
ClearSansRegular()
  define-font("ClearSans", 400, normal, "ClearSans/ClearSans-Regular-webfont")
ClearSansItalic()
  define-font("ClearSans", 400, italic, "ClearSans/ClearSans-Italic-webfont")
ClearSansLight()
  define-font("ClearSans", 300, normal, "ClearSans/ClearSans-Light-webfont")
ClearSansThin()
  define-font("ClearSans", 100, normal, "ClearSans/ClearSans-Thin-webfont")
