@require "/style/global"
@require "/style/import/font-clear-sans"

ClearSansBold()
ClearSansBoldItalic()
ClearSansMedium()
ClearSansMedium()
ClearSansRegular()
ClearSansItalic()
ClearSansLight()
ClearSansThin()

body
  font-weight 300
  font-family ClearSans, Helvetica, arial, sans-serif

