/* entry style */

@require "/style/global"
@require "/style/import/pseudo"
@require "/style/import/reset"

@require "/layouts/page"

@require "/snippets/points/points"
@require "/snippets/section/section"
@require "/snippets/footer/footer"

body
  height: 100%
  background-color: #faf8f5
  color: #444

main
  height: 100%

